/*
Based on HTMLBoilerplate and expanded further
gStarr
*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: none;
    text-shadow: none;
}

::selection {
    background: none;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hide{
    display:none;
}

/*
 Basics
*/

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    padding:0 45px 0 45px;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    Main Color Settings and Layout
   =================== */

.header-container {
    position: fixed;
    top: 0;
    height:60px;
    background: #222 url("../assets/images/titleBarBkg.jpg");
    /*width: 100%;*/
    left:45px;
    right: 45px;
}

.header-container a img{
    margin:18px 0 0 100px;
}

.footer-container{
    border-top: 1px solid #333333;
    padding-top: 10px;
}


.title {
    color: white;
}

/* ==============
    Wide: Article
   ============== */

article{
    width:100%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 4px;
    padding: 20px;
    margin:10px auto 10px auto;
    color:#70767f;
}

article ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

article ul li{
    display: inline;
}

article .avatarContainer{
    background: #aaa;
    border-radius: 4px;
    width:45px;
    height: 45px;
    float:left;
}

article .mediaContainer{
    height:100%;
    max-height: 225px;
}

article h3{
    margin-top: 9px;
    padding-left:10px;
}

article header{
    margin-left:50px;

}

article .title{
    color:#3f454d;
}

article a{
    color:#bec3cc;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 5px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
}

nav a:hover div{
    border-color:#00cc99;
    border-style: solid;
    border-top:none;
    border-left:none;
    border-right:none;
}

nav a:hover,
nav a:visited {
    color: #fff;
}

nav a:hover {
    border-bottom: 4px;
}


.hero-container {
    background: #000 url("../assets/images/heroBkg.png") no-repeat center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
}

.hero {
    display:none;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);

    /*opacity: .50;*/
    /*-webkit-opacity: .5;*/
    /*-moz-opacity: .5;*/
    /*filter: alpha(opacity=75);*/
    z-index: 1000;
}

.modal-content {
    background: #fff;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    width: 37%;
    margin: 80px auto 0 auto;
    height: 185px;
    padding: 0 5%;
    position: fixed;
    top: 12%;
    left: 25%;
    overflow-y: auto;
    z-index: 1999;
}


.blurEffect{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


/* ==============
    MOBILE: Main
   ============== */

.main-container {
    padding: 30px 0;
}

.main-container article h1 {
    font-size: 2em;
}

.main-container aside {
    color: #8f8f8f;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: #8f8f8f;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

.main-container{
    padding: 0 20px 0px 20px;
}


.settings{
    padding-top:60px;
}

.settings header{
    color:#aaaaaa;
}

.settings section{
    margin: 20px 0 20px 0;
}

.settings section input{
    color:#3f454d;
    display:block;
}

.settings section .Settings{

}

.settings section ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.settings section ul li{
    display:inline;
}

.section .avatar{
    width:300px;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    .headerMenu{
        margin: 0;
        padding: 0;
        list-style-type: none;
        color:white;
    }

    .headerMenu li{
        display:inline;
    }

    .headerMenu a, .headerMenu ul li a{
        color:white;
    }





    /* ====================
        INTERMEDIATE: Menu
       ==================== */


    nav a {
        float: left;
        margin: 0 1.7%;
        padding: 10px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {


    /* ============
        WIDE: Menu
       ============ */
    .title {
        float: left;
    }

    nav {
        width: 100%;
        margin: auto;
        height: 100%;
        display: block;
    }


    button{
        border: none;
    }
    .headerNav{
        float:right;
        text-align:right;
        width:400px;
        margin-top: 10px;
        margin-right: 100px;
        color:white;
        vertical-align: middle;
    }
    .header-container ul,
    .headerNav ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .header-container ul li,
    .headerNav ul li{
        display:inline;
    }


    .headerNav .searchButton{
        width:16px;
        height:16px;
        background: url("../assets/images/searchBtn.png");
        position:absolute;
        right:170px;
        top:25px;
    }

    .headerNav .searchBox{
        width:200px;
        height:30px;
        border-radius: 4px;
        border-color: #858585;
        border-style: solid;
        display:inline;
        background: url("../assets/images/titleBarBkg.jpg");
    }

    .headerNav .newMessage{
        width:31px;
        height:26px;
        background: url("../assets/images/newMessage.png");
        margin-right:10px;
    
        /* margin-top: 5px; */
}

    .headerNav .profileButton{
        width:47px;
        height:30px;
        background: url("../assets/images/profileButton.png");
        display:inline;
    }

    .sub-menu{
        background: white;
        border-radius: 4px;
        color:#aaaaaa;
        width:125px;
        position:relative;
        text-align: left;
        float:right;
        border: solid #aaaaaa thin;
    }
    .sub-menu div{
        padding-left: 10px;
    }

    .sub-menu a{
        color:#aaa;
        text-decoration: none;
    }

    .btmBorder{
        border: solid #aaa thin;
        border-top:none;
        border-left: none;
        border-right: none;

    }

    /* ============
        WIDE: Main
       ============ */
    article,
    .hero,
    nav,
    .main-container {
        max-width: 575px;
    }

    .main-container{
        margin:auto;
    }

    /*.main article {*/
    /*float: left;*/
    /*width: 57%;*/
    /*}*/

    .hero-container {
        background: #000 url("../assets/images/heroBkg.png") no-repeat center;
        background-size: cover;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 60px;
    }

    .hero {
        display:block;
    }

    .hero-container {
        padding-top: 120px;
        padding-bottom: 40px;

    }

    .hero {
        background: rgba(0, 178, 134, 0.7);
        color: white;
        font-family: "OpenSans";
        font-weight: lighter;
        font-size: 14pt;
        width: 100%;
        margin: auto;

    }

    .hero input {
        font-size: 30pt;
        margin: 30px 0 15px 15px;
        padding: 10px;
        border: none;
        background: transparent;
    }

    ::-webkit-input-placeholder {
        color: rgba(255,255,255,0.70);
    }

    :-moz-placeholder { /* Firefox 18- */
        color: rgba(255,255,255,0.70);
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: rgba(255,255,255,0.70);
    }

    :-ms-input-placeholder {
        color: rgba(255,255,255,0.70);
    }

    .hero:focus {
        border: none;
    }

    .gridControlGroup {
        float: right;
        width: 75px;
    }




}

@media only screen and (min-width: 1140px) {

    /* ===============
        Maximal Width
       =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}




/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #858585 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}