/*
Based on HTMLBoilerplate and expanded further
gStarr
*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: none;
    text-shadow: none;
}

::selection {
    background: none;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hide{
    display:none;
}

/*
 Basics
*/

body {
    font: 16px/26px tahoma;
    padding:0;
}


/* ===================
    Main Color Settings and Layout
   =================== */

.header-container {
    position: fixed;
    top: 0;
    height:60px;
    background: #222 url("../assets/images/titleBarBkg.jpg");
    /*width: 100%;*/
    left:0;
    right: 0;
}

.header-container a img{
    margin:10px 0 0 0;
}

.footer-container a{
    color : #00cc99;
    margin-left: 10px;
}

.footer-container{
    width: 100%;
    border-top: 1px solid #aaaaaa;
    padding-top: 10px;
    float:left;
    text-align: center;
    color : #00cc99;
    position: relative;
    left: 0;
    right: 0;height: 50px;
    bottom: 0;
}


.TOP a{
    COLOR:#fff;
}
.TOP{
    wisth:40px;
    height:40px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 4px;
    color:#fff;
    background: #cc2222;
    padding: 4px;
    margin: 8px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}



.title {
    color: white;
}

/* ==============
    Wide: Article
   ============== */

article{
    wisth:100%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 4px;
    color:#70767f;
    padding: 4px;
    margin: 8px;
}

article ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

article ul li{
    display: inline;
}

article .avatarContainer{
    background: #aaa;
    border-radius: 4px;
    width:45px;
    height: 45px;
    float:left;
}

article .mediaContainer{
    height:100%;
    max-height: 225px;
}

article h3{
    margin-top: 9px;
    padding-left:10px;
}

article header{
    margin-left:50px;
    width: 150px !important;
}

article .title{
    color:#3f454d;
}

article a{
    color:#bec3cc;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 5px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
}

nav a:hover div{
    border-color:#00cc99;
    border-style: solid;
    border-top:none;
    border-left:none;
    border-right:none;
}

nav a:hover,
nav a:visited {
    color: #fff;
}

nav a:hover {
    border-bottom: 4px;
}


.hero-container {
    background: #333;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
}

.hero {
    display:none;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: none;
    /*opacity: .50;*/
    /*-webkit-opacity: .5;*/
    /*-moz-opacity: .5;*/
    /*filter: alpha(opacity=75);*/
    z-index: 1000;
}

.showModal{
    display: inherit !important;
}
.modal-content {
    background: #fff;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    width: 37%;
    margin: 80px auto 0 auto;
    height: 125px;
    padding: 20px 5%;
    position: fixed;
    top: 12%;
    left: 25%;
    z-index: 1999;
}


.blurEffect{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


/* ==============
    MOBILE: Main
   ============== */

.main-container {
    padding: 30px 0;
}

.main-container article h1 {
    font-size: 2em;
}


.footer-container footer {
    color: #8f8f8f;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

.main-container{
    padding: 0 20px 0px 20px;
}


.settings{
    padding-top:90px;
}

.settings header{
    color:#aaaaaa;
    text-transform: uppercase;
}

.settings section{
    margin: 40px 0 20px 0;
}

.settings section input{
    color:#3f454d;
    display:block;
}

.settings section header{
    width:300px;
}



.avatarSettings{
    width:100px;
    float:left;
}

.userAvatar{
    cursor: pointer;
}

.userSettings{
    width:300px;
    display:inline;
    margin-left: 10px;
    position: relative;
    left: 0px;
    top:0px;
    float:left;

}

.userSettings input[type='text'],
.userSettings input[type='tel'],
.userSettings input[type='email'],
.userSettings input[type='password']{
    margin-left: 110px;
    border:solid thin #aaa;
    padding:5px;
    border-radius: 4px;
    margin: 10px 0 10px 0;
    width:100%;
}

.userSettings input[type='text']{
    background: url("../assets/images/user.icon.png") no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.userSettings input[type='password']{
    background: url("../assets/images/lockicon.png") no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.userSettings input[type='email']{
    background: url("../assets/images/mail.icon.png") no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.notifications .sectionSpacer{
    margin:100px !important;
}


.gridCard{
    max-width:100%;
    width:100%;
    margin: 5px 5px 5px 10px;
    padding: 5px;
}

.showList{
    background: url("../assets/images/list.icon.png")no-repeat;
    border:none;
    width:16px;
    height:16px;
}

.showGrid{
    background: url("../assets/images/tile.icon.png")no-repeat;
    border:none;
    width:16px;
    height:16px;
}

.addMediaList{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.addMediaList li{
    display:inline;
    width:100px;
}


.addPhotoButton{
    background: url("../assets/images/addPhoto.png") no-repeat;
    border:none;
    height:14px;
    width:100px;
    margin-left: 40px;
}

.addVideoButton{
    background: url("../assets/images/addVideo.png") no-repeat;
    border:none;
    width:100px;
    height:14px;
}

.addPhotoButtonGrey{
    background: url("../assets/images/addphoto.gray.icon.png") no-repeat;
    border:none;
    height:14px;
    width:100px;
    margin-left: 40px;
}

.addVideoButtonGrey{
    background: url("../assets/images/addvideo.gray.icon.png") no-repeat;
    border:none;
    width:100px;
    height:14px;
}

.modal-content input{
    margin-left: 110px;
    border:solid thin #aaa;
    padding:10px;
    border-radius: 4px;
    margin: 10px 0 10px 0;
    width:100%;
}

button{
    border: none;
}

.headerNav, .search , .newMessage, .gridControlGroup{
    display:none;
}

.closer{
    background:#fff url("../assets/images/close.png")no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -20px;
    right: -40px;
    border-radius: 12px;

}




/* ==========================================================================
   Media Queries
   ========================================================================== */




/* ==========================================================================
   Print styles
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.commentItem h4, .commentItem p{
    margin: 2px;
    padding:2px;
}

#commentsContainer{
    background:#F9FAFC;
    border-radius: 6px;
    border: solid thin #eee;
    margin: 2px;
    padding:2px;
    text-align: center;
}
.commentItem{
    background: transparent;
    border: solid thin rgba(175,175,175,.25);
    border-radius: 4px;
    border-left: none;
    border-right: none;
    padding: 5px;
    border:solid thin #bbb;
    text-align: left;
    margin-top: 2px;
}

.commentItemEven{
    background: rgba(175,175,175,.25) !important;
}

#commentsContainer input{
    width: 80%;
    margin: 6px 10px 6px 10px;
    margin-top: 20px;
    border-radius: 6px;
    border: solid thin #aaa;
    PADDING:4PX;

}

.flatOneRoundedCheckbox input[type="checkbox"]:checked ~ div {
    background: none repeat scroll 0% 0% #4FBE79;
}
.flatOneRoundedCheckbox div {
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% #D3D3D3;
    border-radius: 50px;
    position: relative;
    top: -30px;
}
.flatOneRoundedCheckbox {
    width: 120px;
    height: 40px;
    margin: 20px 50px;
    position: relative;
}
.flatRoundedCheckbox label {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 1;
    left: 8px;
    background: none repeat scroll 0% 0% #FFF;