
@media only screen and (min-width: 845px) {

    /* ============
        WIDE: Menu
       ============ */
    .title {
        float: left;
    }

    nav {
        width: 100%;
        margin: auto;
        height: 100%;
        display: block;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
    }

    .header-container a img {
        margin: 18px 0 0 100px;
    }

    .headerNav {
        float: right;
        text-align: right;
        width: 400px;
        margin-top: 0px;
        margin-right: 100px;
        color: white;
        vertical-align: middle;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
    }

    .header-container ul,
    .headerNav ul {

        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .header-container ul li,
    .headerNav ul li {
        display: inline;
    }

    .headerNav .searchButton {
        width: 16px;
        height: 16px;
        background: url("../assets/images/searchBtn.png");
        position: absolute;
        right: 160px;
        top: 21px;
    }

    .headerNav .searchBox {
        margin-top:10px;
        width: 100%;
        max-width: 300px;
        height: 30px;
        border-radius: 4px;
        border-color: #858585;
        border-style: solid;
        display: inline;
        background: url("../assets/images/titleBarBkg.jpg");
    }

    .headerNav .newMessage {
        width: 31px;
        height: 26px;
        background: url("../assets/images/newMessage.png");
        margin-right: 10px;

         margin-top: -15px;

    }

    .headerNav .profileButton {
        width: 47px;
        height: 35px;
        background: url("../assets/images/profileButton.png") no-repeat;
        display: inline;
        margin-top: -15px;
    }

    .headerNav ul li span {
        position: relative;
        right: 0;
        top: 8px;
    }

    .sub-menu {
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        background: white;
        border-radius: 4px;
        color: #aaaaaa;
        width: 125px;
        position: relative;
        text-align: left;
        float: right;
        border: solid #aaaaaa thin;
        top: -300px;
    }

    .showSubMenu {
        top: 0px !important;
    }

    .sub-menu div {
        padding-left: 10px;
    }

    .sub-menu a {
        color: #aaa;
        text-decoration: none;
    }

    .btmBorder {
        border: solid #aaa thin;
        border-top: none;
        border-left: none;
        border-right: none;

    }

    /* ============
        WIDE: Main
       ============ */
    .hero,
    nav,
    .main-container {
        max-width: 575px;
    }

    .main-container {
        margin: auto;
    }

    .wide {
        max-width: 11140px !important;
        margin-left: 60px;
    }

    nav {
        margin-top: 40px
    }

    .headerNav, .search , .newMessage, .gridControlGroup{
        display:inherit !important;
    }
    /*.main article {*/
    /*float: left;*/
    /*width: 57%;*/
    /*}*/
    .hero-container {
        background: #000 url("../assets/images/heroBkg.png") no-repeat center;
        background-size: cover;
        margin-top: 60px;
        padding-top: 60px !important;
    }

    .hero {
        display: block;
    }

    .hero {
        background: rgba(0, 178, 134, 0.7);
        color: white;
        font-family: tahoma;
        font-weight: lighter;
        font-size: 14pt;
        width: 100%;
        margin: auto;
        height: 160px;
    }

    .hero input {
        font-size: 30pt;
        margin: 30px 0 15px 15px;
        padding: 10px;
        border: none;
        background: transparent;
    }

    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.70);
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.70);
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.70);
    }

    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.70);
    }

    .hero:focus {
        border: none;
    }

    .gridControlGroup {
        float: right;
        width: 75px;
    }

}