<!doctype html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">


    </head>
    <body ng-app="SimplySocial">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

      <div ng-class="{'blurEffect' : $scope.showModal}">

       <div class="header-container">
            <a ui-sref="allPosts" href="#/allPosts"><img src="assets/images/logo.png"></a>
        </div>

        <div class="hero-container">
            <div class="hero">
                <input type="text" placeholder="What's on your mind?">
                <ul>
                    <li ng-click="$scope.showModal=true">Add Photo</li>
                    <li>Add Video</li>
                </ul>
            </div>

            <nav>
                <ul class="nav">
                    <li ui-sref-active="active" ng-class="{active: $state.includes('allPosts')}"><a ui-sref="allPosts" href="#/allPosts">
                        <div>
                            All Posts
                        </div>
                    </a></li>
                    <li ng-class="{active: $state.includes('allPhotos')}"><a ui-sref="allPhotos" href="#/allPhotos">
                       <div> All Photos</div>
                    </a></li>
                    <li ng-class="{active: $state.includes('allVideos')}"><a ui-sref="allVideos" href="#/allVideos">
                        <div>All Videos</div>
                    </a></li>
                    <li>
                       <ul class="gridControlGroup">
                           <li><a>List</a></li>
                           <li><a>Grid</a></li>
                       </ul>
                    </li>
                </ul>
            </nav>
        </div>


        <div ui-view>Main View</div>

        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>
      </div>


        <div class="modal-background" ng-show="$scope.showModal" ng-click="$scope.showModal=false">

            <div class="modal-content">
                <div class="closer" ng-click="$scope.showModal=false">X</div>
                <input type="text">
                <ul>
                    <li>Add Photo</li>
                    <li>Add Video</li>
                </ul>
            </div>
        </div>

        <script src="js/angular.js"></script>
        <script src="js/angular-ui-router.js"></script>

        <script src="js/app.js"></script>

        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>



    </body>
</html>
