<div class="{{listDisplayType}} " ng-controller="AllPostsCtrl">
    <div>&nbsp;</div>
    <!--one columns-->

    <div ng-show="!displayGrid">
        <div ng-include="'views/itemCard.html'" ng-show="!displayGrid"></div>
    </div>


    <!--  Three columns-->

    <div ng-show="displayGrid">
        <div class=" firstColumn col-1-3">
            <div ng-include="'views/itemCard.html'" ng-show="displayGrid"></div>
        </div>


        <div class="col-1-3">
            <div ng-include="'views/itemCard.html'" ng-show="displayGrid"></div>
        </div>

        <div class="col-1-3">
            <div ng-include="'views/itemCard.html'" ng-show="displayGrid"></div>
        </div>
    </div>
</div>