<div class="{{listDisplayType}} " ng-controller="AllVideosCtrl">
    <div>&nbsp;</div>
    <article ng-repeat="post in posts" class="{{cardType}}">
        <div class="avatarContainer" style="background-image:url('assets/images/{{post.post.avatar}}');"></div>
        <header>
            <h3>{{post.post.title}}</h3>
        </header>
        <section>

            <details id="fn">
                <summary><label for="fn">Expand:</label></summary>
                <img src="assets/images/videoSrcPlaceHolder.png" width="100%">
                <p>{{post.post.description}}</p>
            </details>
        </section>
    </article>
</div> <!-- #main-container -->