<div class="main-container settings"   ng-controller="SettingsCtrl">
    <div class="settingsContainer">
       <h1>
           Settings
       </h1>
       <form>
           <section class="userDetails">
               <header>
                   Account
               </header>
               <div class="avatarSettings">
                   <img src="assets/images/avatarSettingsPage.png" class="userAvatar" ng-click="console.log('change pic')">
               </div>
               <div class="userSettings">

                   <input type="text" value="{{SettingService.name}}">
                   <input type="email" value="{{email}}">`
                   <input type="password" value="{{password}}">
               </div>

           </section>

           <section class="notifications">
               <div class="sectionSpacer">&nbsp;</div>
               <header>
                   Notifications
               </header>
                <div class="flatOneRoundedCheckbox">

                    <input value="1" id="flatOneRoundedCheckbox" name="" type="checkbox">
                    <label for="flatOneRoundedCheckbox"></label>
                    <div></div>

                </div>
           </section>
           <hr>
           <section class="privacy">
               <div class="sectionSpacer">&nbsp;</div>
               <header>
                   Privacy
               </header>
               <div>
                   <input type="radio" name="postsMarkedFavorite" value="male">Email me when posts marked as favorites<br>
               </div>
           </section>
           <button class="saveButton">Save Changes</button>
       </form>
   </div>
</div> <!-- #main-container -->