<div class="main-container settings"   ng-controller="SettingsCtrl">
   <div class="settingsContainer">
       <h1>
           Settings
       </h1>
       <form>
           <section>
               <header>
                   Account settings
               </header>
               <ul>
                   <li>
                       <div class="avatar Settings">
                           Avatar Settings
                       </div>

                   </li>
                   <li>
                       <div class="user Settings">
                           <input type="text" value="{{name}}">
                           <input type="text" value="{{email}}">
                           <input type="password" value="{{password}}">
                       </div>
                   </li>
               </ul>
           </section>
           <section>
               <header>
                   Account settings
               </header>
               <div class="avatar Settings">
                   Avatar Settings
               </div>
               <div class="user Settings">
                   User Settings
               </div>
           </section>
           <section>
               <header>
                   Notifications
               </header>

           </section>
           <section>
               <header>
                   Privacy
               </header>

           </section>
           <button>Save Changes</button>
       </form>
   </div>
</div> <!-- #main-container -->